body {
    font-family: $base-font;
}

.container {
    max-width: $max-container-width;
}

.pickup-location-container {
    background-color: $yellow;
    border-bottom: solid 2px $darker-yellow;
    box-sizing: border-box;
    height: 480px;
    padding: 5%;
    width: 48%;

    h2 {
        color: $black;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 10px;
        text-shadow: none;
    }
}

.pickup-location-input {
    label {
        color: $very-very-dark-gray;
        display: block;
        font-size: 0.875em;
        line-height: 30px;
    }

    input {
        background-color: $off-white;
        border: solid 1px $gray;
        border-radius: 0;
        font-size: 0.813em;
        line-height: 15px;
        margin: 0;
        padding: 12px 8% 12px 2%;
        width: 90%;
    }
}
