$max-container-width: 1100px;
$break-desktop: 1099px;

$base-font: Arial, Helvetica, sans-serif;

$black: #000000;
$gray: #a9a9a9;
$very-very-dark-gray: #444444;
$yellow: #F3CE56;
$darker-yellow: #DAB129;
$off-white: #FEFEFE;
$white: #FFFFFF;
$result-black: #222222;
$result-bg-hover: #dff6ff;
$no-results-color: #989898;
$result-border-color: #eaeaea;

$place-type-default: #ffa981;
$place-type-airport: #f2817f;
$place-type-city: #6eb8fa;
$place-type-station: #9d9dbb;
$place-type-district: #70d58e;